.config/activitywatch
.config/astro
.config/activitywatch
.config/awatcher
.config/bottom
.config/brasero
.config/btop
.config/clamtk
.config/cpupower_gui
.config/dconf
.config/easyeffects
.config/FreeTube
.config/gh
.config/Google
.config/gtk-3.0
.config/Hardcoded \Software
.config/hypr/hyprpaper.conf
.config/hyprpanel
.config/libreoffice
.config/lsp-plugins
.config/music-on-rust
.config/nicotine
.config/obs-studio
.config/obsidian
.config/openrazer
.config/pipewire
.config/polychromatic
.config/Proton \Mail
.config/protonmail
.config/pulse
.config/rncbc.org
.config/rustdesk
.config/s-tui
.config/SchildiChatAlpha
.config/scripts/launch_freetube.sh
.config/scripts/polychromatic.sh
.config/scripts/zshrc_functions.sh
.config/Signal
.config/spek
.config/systemd
.config/tenacity
.config/torbrowser
.config/uad
.config/vesktop
.config/vlc
.config/zed
.config/k3brc
.config/kdenlive-layoutsrc
.config/kdenliverc
.config/kritadisplayrc
.config/kritarc
.config/mimeapps.list
.config/pavucontrol.ini
.config/QtProject.conf
.config/SpeedCrunch.ini
.config/user-dirs.dirs
.config/user-dirs.locale
.local
.gitconfig
.p10k.zsh
.wakatime.cfg
