.zsh_history
.ssh
.cache
.librewolf
.local
.thunderbird
.wakatime
.gitconfig
.gtkrc-2.0
.p10k.zsh
.wakatime.cfg
.flutter
.rustup
.gnupg
.docker
.dart-tool
.cargo
.aegisub
.zshrc-functions
.config/s-tui/hooks.d
.config/psysh
.config/composer
.config/flutter
.config/hypr/hyprpaper.conf
.config/cpupower_gui
.config/FreeTube
.config/gh
.config/libreoffice
.config/dconf
.config/deepin
.config/glib-2.0
.config/gtk-3.0
.config/gtk-4.0
.config/Mullvad VPN
.config/nautilus
.config/nicotine
.config/nomacs
.config/obs-studio
.config/obsidian
.config/openrazer
.config/polychromatic
.config/protonmail
.config/pulse
.config/qBittorrent
.config/SchildiChat
.config/spek
.config/systemd
.config/tenacity
.config/vlc
.config/waybar/scripts/env
.config/zed
.config/kdenlive-layoutsrc
.config/kdenliverc
.config/kritadisplayrc
.config/kritarc
.config/kronometerrc
.config/mimeapps.list
.config/pavucontrol.ini
.config/QtProject.conf
.config/SpeedCrunch.ini
.config/subtitlecomposerrc
.config/trashrc
.config/hyprpanel
.config/user-dirs.dirs
.config/user-dirs.locale
.config/MusicBrainz
.moc/equalizer
.moc/last_directory
.moc/playlist.m3u
.moc/softmixer
.moc/pid
.moc/socket2
.config/astro
.config/cava/shaders
.config/bottom
zshrc-functions.sh
xnviewmp
.config/Hardcoded Software/
.config/kdeglobals
.config/Google/
.config/galculator/
.config/go/
.config/qalculate/
