set tabsize 2
set tabstospaces

include ~/.nano/syntax/apacheconf.nanorc
include ~/.nano/syntax/arduino.nanorc
include ~/.nano/syntax/asciidoc.nanorc
include ~/.nano/syntax/asm.nanorc
include ~/.nano/syntax/awk.nanorc
include ~/.nano/syntax/batch.nanorc
include ~/.nano/syntax/c.nanorc
include ~/.nano/syntax/clojure.nanorc
include ~/.nano/syntax/cmake.nanorc
include ~/.nano/syntax/coffeescript.nanorc
include ~/.nano/syntax/colortest.nanorc
include ~/.nano/syntax/conf.nanorc
include ~/.nano/syntax/conky.nanorc
include ~/.nano/syntax/creole.nanorc
include ~/.nano/syntax/csh.nanorc
include ~/.nano/syntax/csharp.nanorc
include ~/.nano/syntax/css.nanorc
include ~/.nano/syntax/csv.nanorc
include ~/.nano/syntax/cython.nanorc
include ~/.nano/syntax/Dockerfile.nanorc
include ~/.nano/syntax/dot.nanorc
include ~/.nano/syntax/dotenv.nanorc
include ~/.nano/syntax/elixir.nanorc
include ~/.nano/syntax/email.nanorc
include ~/.nano/syntax/erb.nanorc
include ~/.nano/syntax/etc-hosts.nanorc
include ~/.nano/syntax/fish.nanorc
include ~/.nano/syntax/fortran.nanorc
include ~/.nano/syntax/fsharp.nanorc
include ~/.nano/syntax/gemini.nanorc
include ~/.nano/syntax/genie.nanorc
include ~/.nano/syntax/gentoo.nanorc
include ~/.nano/syntax/git.nanorc
include ~/.nano/syntax/gitcommit.nanorc
include ~/.nano/syntax/glsl.nanorc
include ~/.nano/syntax/go.nanorc
include ~/.nano/syntax/gophermap.nanorc
include ~/.nano/syntax/gradle.nanorc
include ~/.nano/syntax/groff.nanorc
include ~/.nano/syntax/haml.nanorc
include ~/.nano/syntax/haskell.nanorc
include ~/.nano/syntax/hcl.nanorc
include ~/.nano/syntax/html.j2.nanorc
include ~/.nano/syntax/html.nanorc
include ~/.nano/syntax/i3.nanorc
include ~/.nano/syntax/ical.nanorc
include ~/.nano/syntax/ini.nanorc
include ~/.nano/syntax/inputrc.nanorc
include ~/.nano/syntax/jade.nanorc
include ~/.nano/syntax/java.nanorc
include ~/.nano/syntax/javascript.nanorc
include ~/.nano/syntax/js.nanorc
include ~/.nano/syntax/json.nanorc
include ~/.nano/syntax/keymap.nanorc
include ~/.nano/syntax/kickstart.nanorc
include ~/.nano/syntax/kotlin.nanorc
include ~/.nano/syntax/ledger.nanorc
include ~/.nano/syntax/lisp.nanorc
include ~/.nano/syntax/lua.nanorc
include ~/.nano/syntax/m3u.nanorc
include ~/.nano/syntax/makefile.nanorc
include ~/.nano/syntax/man.nanorc
include ~/.nano/syntax/markdown.nanorc
include ~/.nano/syntax/moonscript.nanorc
include ~/.nano/syntax/mpdconf.nanorc
include ~/.nano/syntax/mutt.nanorc
include ~/.nano/syntax/nanorc.nanorc
include ~/.nano/syntax/nginx.nanorc
include ~/.nano/syntax/nmap.nanorc
include ~/.nano/syntax/ocaml.nanorc
include ~/.nano/syntax/octave.nanorc
include ~/.nano/syntax/patch.nanorc
include ~/.nano/syntax/peg.nanorc
include ~/.nano/syntax/perl.nanorc
include ~/.nano/syntax/perl6.nanorc
include ~/.nano/syntax/php.nanorc
include ~/.nano/syntax/pkg-config.nanorc
include ~/.nano/syntax/pkgbuild.nanorc
include ~/.nano/syntax/po.nanorc
include ~/.nano/syntax/pov.nanorc
include ~/.nano/syntax/powershell.nanorc
include ~/.nano/syntax/privoxy.nanorc
include ~/.nano/syntax/prolog.nanorc
include ~/.nano/syntax/properties.nanorc
include ~/.nano/syntax/pug.nanorc
include ~/.nano/syntax/puppet.nanorc
include ~/.nano/syntax/python.nanorc
include ~/.nano/syntax/rego.nanorc
include ~/.nano/syntax/reST.nanorc
include ~/.nano/syntax/Rnw.nanorc
include ~/.nano/syntax/rpmspec.nanorc
include ~/.nano/syntax/ruby.nanorc
include ~/.nano/syntax/rust.nanorc
include ~/.nano/syntax/scala.nanorc
include ~/.nano/syntax/sed.nanorc
include ~/.nano/syntax/sh.nanorc
include ~/.nano/syntax/sieve.nanorc
include ~/.nano/syntax/sls.nanorc
include ~/.nano/syntax/sparql.nanorc
include ~/.nano/syntax/sql.nanorc
include ~/.nano/syntax/svn.nanorc
include ~/.nano/syntax/swift.nanorc
include ~/.nano/syntax/systemd.nanorc
include ~/.nano/syntax/tcl.nanorc
include ~/.nano/syntax/tex.nanorc
include ~/.nano/syntax/toml.nanorc
include ~/.nano/syntax/ts.nanorc
include ~/.nano/syntax/twig.nanorc
include ~/.nano/syntax/vala.nanorc
include ~/.nano/syntax/verilog.nanorc
include ~/.nano/syntax/vi.nanorc
include ~/.nano/syntax/x11basic.nanorc
include ~/.nano/syntax/xml.nanorc
include ~/.nano/syntax/xresources.nanorc
include ~/.nano/syntax/yaml.nanorc
include ~/.nano/syntax/yum.nanorc
include ~/.nano/syntax/zig.nanorc
include ~/.nano/syntax/zsh.nanorc
include ~/.nano/syntax/zshrc.nanorc
